In [6]:
import psycopg2
import pandas as pd

Connect to Local PostgreSQL & Read Data

In [42]:
local_conn = psycopg2.connect(
    host="localhost",
    database="accounts",
    user="postgres",
    password="yuvraj@123"
)

In [9]:
query = "SELECT * FROM Best_show_by_year"
df_Best_show_by_year = pd.read_sql(query, local_conn)

C:\Users\admin\AppData\Local\Temp\ipykernel_7908\3072357661.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_Best_show_by_year = pd.read_sql(query, local_conn)

In [11]:
query = "SELECT * FROM Raw_titles"
df_Raw_titles = pd.read_sql(query, local_conn)

C:\Users\admin\AppData\Local\Temp\ipykernel_7908\2464860348.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_Raw_titles = pd.read_sql(query, local_conn)

In [43]:
query = "SELECT * FROM Raw_credits"
df_Raw_credits = pd.read_sql(query, local_conn)

C:\Users\admin\AppData\Local\Temp\ipykernel_7908\3386595774.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_Raw_credits = pd.read_sql(query, local_conn)

In [14]:
query = "SELECT * FROM Best_shows"
df_Best_shows = pd.read_sql(query, local_conn)

C:\Users\admin\AppData\Local\Temp\ipykernel_7908\1882308474.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_Best_shows = pd.read_sql(query, local_conn)

In [15]:
query = "SELECT * FROM Best_show_by_year"
df_Best_show_by_year = pd.read_sql(query, local_conn)

C:\Users\admin\AppData\Local\Temp\ipykernel_7908\3072357661.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_Best_show_by_year = pd.read_sql(query, local_conn)

In [16]:
query = "SELECT * FROM Best_movie"
df_Best_movie = pd.read_sql(query, local_conn)

C:\Users\admin\AppData\Local\Temp\ipykernel_7908\4048070426.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_Best_movie = pd.read_sql(query, local_conn)

Connect to AWS RDS PostgreSQL

In [18]:
rds_conn = psycopg2.connect(
    host="database-1.cp2yioesmyq6.ap-south-1.rds.amazonaws.com",
    database="dbname",
    user="postgres",
    password="admin123",
    port=5432
)

cursor = rds_conn.cursor()

In [24]:
create_table_Best_show_by_year = '''
CREATE TABLE IF NOT EXISTS Best_Movie_by_Year (
    title VARCHAR(255),
    release_year BIGINT,
    score DOUBLE PRECISION,
    number_of_seasons BIGINT,
    main_genre VARCHAR(100),
    main_production VARCHAR(255)
);
'''
cursor.execute(create_table_Best_show_by_year)
rds_conn.commit()

In [23]:
rds_conn.rollback()

In [25]:
for index, row in df_Best_show_by_year.iterrows():
    cursor.execute("""
        INSERT INTO Best_Movie_by_Year (
            title, release_year, score,
            number_of_seasons, main_genre, main_production
        )
        VALUES (%s, %s, %s, %s, %s, %s)
    """, (
        row['title'], row['release_year'], row['score'],
        row['number_of_seasons'], row['main_genre'], row['main_production']
    ))

In [26]:
rds_conn.commit()

In [27]:
create_table_Raw_titles = '''
CREATE TABLE IF NOT EXISTS Raw_titles (
    id VARCHAR(50) PRIMARY KEY,
    title VARCHAR(255),
    type VARCHAR(100),
    release_year INT,
    runtime INT,
    genres TEXT,
    production_countries TEXT,
    seasons INT,
    imdb_id VARCHAR(20),
    imdb_score DOUBLE PRECISION,
    imdb_votes DOUBLE PRECISION
);
'''
cursor.execute(create_table_Raw_titles)
rds_conn.commit()

In [29]:
for index, row in df_Raw_titles.iterrows():
    cursor.execute("""
            INSERT INTO Raw_titles (
                id, title, type, release_year, runtime,
                genres, production_countries, seasons,
                imdb_id, imdb_score, imdb_votes
            )
            VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
        """, (
            row['id'], row['title'], row['type'], row['release_year'], row['runtime'],
            row['genres'], row['production_countries'], row['seasons'],
            row['imdb_id'], row['imdb_score'], row['imdb_votes']
        ))

In [30]:
rds_conn.commit()

In [38]:
create_table_Raw_credits = '''
CREATE TABLE IF NOT EXISTS Raw_credits (
    person_id INT,
    id VARCHAR(50),
    name VARCHAR(500),
    character VARCHAR(500),
    role VARCHAR(100)
);
'''

cursor.execute(create_table_Raw_credits)
rds_conn.commit()

In [45]:
for index, row in df_Raw_credits.iterrows():
        cursor.execute("""
            INSERT INTO Raw_credits (
                person_id, id, name, character, role
            )
            VALUES (%s, %s, %s, %s, %s)
        """, (
            row['person_id'], row['id'], row['name'],
            row['character'], row['role']
        ))

In [46]:
rds_conn.commit()

In [48]:
create_table_Best_shows = '''
CREATE TABLE IF NOT EXISTS Best_shows (
    title VARCHAR(255),
    release_year INT,
    score FLOAT,
    number_of_votes INT,
    number_of_seasons INT,
    main_genre VARCHAR(100),
    main_production VARCHAR(255)
);
'''

cursor.execute(create_table_Best_shows)
rds_conn.commit()

In [49]:
for index, row in df_Best_shows.iterrows():
        cursor.execute("""
            INSERT INTO Best_shows (
                title, release_year, score,
                number_of_votes, number_of_seasons,
                main_genre, main_production
            )
            VALUES (%s, %s, %s, %s, %s, %s, %s)
        """, (
            row['title'], row['release_year'], row['score'],
            row['number_of_votes'], row['number_of_seasons'],
            row['main_genre'], row['main_production']
        ))

In [50]:
rds_conn.commit()

In [51]:
create_table_Best_show_by_year = '''
CREATE TABLE IF NOT EXISTS Best_show_by_year (
    title VARCHAR(255),
    release_year INT,
    score FLOAT,
    number_of_seasons INT,
    main_genre VARCHAR(100),
    main_production VARCHAR(255)
);
'''
cursor.execute(create_table_Best_show_by_year)
rds_conn.commit()

In [52]:
for index, row in df_Best_show_by_year.iterrows():
        cursor.execute("""
            INSERT INTO Best_show_by_year (
                title, release_year, score,
                number_of_seasons, main_genre, main_production
            )
            VALUES (%s, %s, %s, %s, %s, %s)
        """, (
            row['title'], row['release_year'], row['score'],
            row['number_of_seasons'], row['main_genre'], row['main_production']
        ))

In [53]:
rds_conn.commit()

In [54]:
create_table_best_movie = '''
CREATE TABLE IF NOT EXISTS Best_movie (
    title VARCHAR(255),
    release_year INT,
    score DOUBLE PRECISION,
    number_of_votes INT,
    main_genre VARCHAR(100),
    main_production VARCHAR(255)
);
'''

cursor.execute(create_table_best_movie)
rds_conn.commit()

In [55]:
for index, row in df_Best_movie.iterrows():
        cursor.execute("""
            INSERT INTO Best_movie (
                title, release_year, score,
                number_of_votes, main_genre, main_production
            )
            VALUES (%s, %s, %s, %s, %s, %s)
        """, (
            row['title'], row['release_year'], row['score'],
            row['number_of_votes'], row['main_genre'], row['main_production']
        ))

In [57]:
rds_conn.commit()

In [58]:
rds_conn.close()
cursor.close()
local_conn.close()